# --------------------------
# -- COMPOSER
# --------------------------
vendor/*

# --------------------------
# -- IDEs
# --------------------------
.idea/*

# --------------------------
# -- CONFIG
# --------------------------
config/config.yml
